$primary-color		: #ff5555;
$white				: #ffffff;
$black 				: #000000;
// Header
$header-height		: 130px;
$topbar-bgcolor		: #000000;
$topbar-color 		: $white;
$topbar-color-hover	: $primary-color;
$header-width-logo	: 150px;

// Nav
$nav-height			: 50px;
$nav-bgcolor		: #ff5555;
$nav-color			: #ffffff;
$nav-color-hover	: #000000;
$nav-texttransform	: uppercase;
$nav-active-bgcolor	: #ffffff;
$nav-active-color	: #000000;

// Footer
$footer-bgcolor		: #484848;
$footer-textcolor	: #ffffff;
$footer-linkcolor 	: #ffffff;

$footer-socialnetworks-color	: #ffffff;


// Carousel
$carousel-title-color: $black;