html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4 {
  text-transform: uppercase; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 600; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.wrap > .container {
  padding: 70px 15px 20px; }

/* add sorting icons to gridview sort links */
.user-panel {
  min-height: 250px; }

.user-title {
  font-weight: 700;
  font-size: 1.4em; }

.user-name {
  font-size: 1.2em; }

.top-bar {
  background-color: #000000;
  color: #ffffff; }
  .top-bar ul {
    padding: 0;
    list-style-type: none;
    margin: .3em 1em .3em 0; }
    .top-bar ul li {
      display: inline-block;
      margin-right: .5em; }
      .top-bar ul li a {
        color: #ffffff; }
        .top-bar ul li a:hover {
          color: #ff5555; }

.main-header {
  padding-top: .3em; }
  .main-header img {
    max-width: 150px; }
  .main-header .main-nav {
    background-color: #ff5555;
    height: 50px; }
    .main-header .main-nav a {
      color: #ffffff !important;
      text-transform: uppercase; }
      .main-header .main-nav a:hover {
        color: #000000 !important; }
  .main-header .header-login {
    padding-top: 2em; }

.navbar-default {
  background-color: transparent !important;
  border: 0; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff !important;
    color: #000000 !important; }

.main-footer {
  background-color: #484848;
  color: #ffffff;
  margin-top: 3em;
  padding-bottom: 3em; }
  .main-footer h2 {
    text-transform: uppercase;
    text-align: center; }
  .main-footer ul {
    padding: 0;
    margin: 0; }
    .main-footer ul li {
      list-style-type: none;
      padding: .5em 0; }
  .main-footer a {
    text-decoration: none;
    color: #ffffff; }
  .main-footer .social-networks a {
    color: #ffffff;
    padding-left: 1em; }
  .main-footer #footer-map {
    width: 350px;
    height: 200px;
    background-color: #ccc; }

.container-full {
  width: 100%; }

.carousel {
  height: 500px;
  margin-bottom: 60px; }

.carousel-caption {
  z-index: 10; }

.carousel .item {
  height: 500px;
  background-color: #777; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px; }

.carousel h1 {
  color: #ff5555; }

.breadcrumb {
  background-color: transparent !important;
  border: 0; }

.well-lg {
  min-height: 200px; }

.form-horizontal .checkbox {
  padding-top: 0px !important; }
